*{
    box-sizing: border-box;
    font-family: Monaco, monospace;
}

body {
    margin: 100px 0 50px 50px;
    background-color: #edeadd;
}

.navbar{
    top: 0;
    display: flex;
    left: 0;
    position: fixed;
    background-color: #edeadd;
    width: 100%;
    color: black;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding:1rem 1rem;
    z-index: 1000;
}

.navbar a{
    color: inherit;
    text-decoration: none;
}

.navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar li:hover{
    border: 1px solid black;
    scale: 1.1;
}

.navbar li{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: 1px transparent;
}

.site-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 7px;

}
.site-title:hover{
    color: #b3b3b3;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #edeadd;
    color: black;
    text-align: center;
    padding: 1px 0;
    font-size: 11px;
    height: 33px;
}