body {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;
}

.academy button {
    background-color: #e6a330;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: Monaco, monospace;
}

.academy button:hover {
    background-color: #a6a6a6;
}

.academy {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin: 0 0 5px 0;
    width: 65%;
    float: left;
    background-color: #f5f5f5;
    padding: 0;
    border: solid 2px #e6e6e6;
    border-radius: 20px;
    font-family: Monaco, monospace;
    text-align: center;
}

.academy:hover {
    border: solid 2px #b3b3b3;
    background-color: #d9d9d9;
}

.academy h2 {
    font-family: Monaco, monospace;
}

.academy p {
    font-family: Monaco, monospace;
    margin-top: 30px;
}

.academy:last-child {
    margin-bottom: 4rem;
}

.search-title h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 0 0 1px;
    padding:0;
    font-family: Monaco, monospace;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
    float: left;
    padding: 20px 20px 20px 1px;
    width: 66%;
}

.search-bar form {
    display: flex;
    width: 66%;
}

.search-bar input[type="text"]::placeholder {
    font-size: 18px;
    font-weight: 600;
}


.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
}

.search-icon {
    position: absolute;
    right: 30px;
    top: 48%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
}

.checkboxes {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 24px;
    top: 55%;
    right: 8%;
    transform: translateY(-50%);
}

.scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 3rem;
    display: none;
}

.scroll-to-top.show {
    display: block;
}

.scroll-to-top:hover {
    background-color: #f09800;
}